@charset "UTF-8";
:root {
  --primary-color: #677EE9;
  --secondary-color: #6c757d;
  --tertiary-color: #8589A3;
  --quaternary-color: #F5F5F9;
  --white-color: #fff;
  --gray-border: #E4E6E8;
  --success-color: #71DD37;
  --danger-color: #FF3E1D;
  --warning-color: #FFAB00;
  --color-text-dark: #28425B;
  --color-text-medium: #536B83;
  --color-text-light: #A3AEBb;
  --font-family: Arial, sans-serif;
  --border-radius: 8px;
  --title-size-lg: 40px;
  --title-size-base: 32px;
  --title-size-sm: 24px;
  --font-size-lg: 20px;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --text-bold: 700;
  --text-medium: 500;
  --text-regular: 400;
}

body {
  box-sizing: border-box;
  background-color: var(--quaternary-color);
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--color-text-medium);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--text-bold);
  margin-bottom: 1rem;
}

/* p,
label,
span {
    color: var(--color-text-light);
    font-size: 14px;
    text-decoration: none;
} */
a {
  text-decoration: none;
}

h1 {
  color: var(--color-text-dark);
  font-size: 32.44px;
  margin: 0px;
}

h2 {
  font-size: 17px;
  margin: 0px;
}

p {
  margin-bottom: 1rem;
}

i {
  display: flex;
}

/* Media query para dispositivos desktop */
@media (min-width: 1024px) {
  h1 {
    color: var(--color-text-dark);
    font-size: 40px;
  }
  h2 {
    color: var(--color-text-medium);
    font-size: 22px;
  }
  input::-moz-placeholder {
    color: var(--color-text-light);
  }
  input::placeholder {
    color: var(--color-text-light);
  }
  p {
    margin-bottom: 0rem;
  }
}
.section-form {
  /* height: 100vh; */
  padding-block: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid var(--gray-border);
  width: 480px;
  border-radius: 8px;
  background-color: white;
  padding: 32px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.label-card {
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.label-card input {
  padding: 8px 16px;
  border-radius: 6px;
  height: 40px;
  border: 1px solid var(--gray-border);
}

.label-card-check input {
  border: 1px solid var(--gray-border);
  border-radius: 4px;
  height: 20px;
  width: 20px;
  margin-right: 8px;
}

input::-moz-placeholder {
  color: var(--color-text-light);
  font-size: var(--font-size-base);
}

input::placeholder {
  color: var(--color-text-light);
  font-size: var(--font-size-base);
}

.register-logos {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.register-logos img {
  width: 25px;
  height: 25px;
}

/* Media Query para dispositivos desktop */
/* Media Query para dispositivos móveis */
@media (max-width: 768px) {
  .section-form {
    height: 100vh;
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card {
    border: 1px solid var(--gray-border);
    width: 480px;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
    display: flex;
    gap: 8px;
    flex-direction: column;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .label-card {
    display: flex;
    gap: 8px;
    flex-direction: column;
  }
  .label-card input {
    padding: 8px 8px;
    color: gray;
    font-size: 16px;
    border-radius: 6px;
    height: 40px;
    border: 1px solid var(--gray-border);
  }
  .label-card-check input {
    border: 1px solid var(--gray-border);
    border-radius: 4px;
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
  .register-logos {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .register-logos img {
    width: 25px;
    height: 25px;
  }
  input::-moz-placeholder {
    color: var(--color-text);
  }
  input::placeholder {
    color: var(--color-text);
  }
}/*# sourceMappingURL=Login.css.map */